/* Figma Styles of your File */
:root {
  /* Colors */
  --g: linear-gradient(
    124.55deg,
    rgba(233, 192, 15, 1) 0%,
    rgba(193, 153, 2, 1) 50.49999952316284%,
    rgba(176, 141, 0, 1) 100%
  );
  --b: #182e6f;
  --rb: #152c72;
  --gold: #e9c00f;
  --g2: #bb9a0a;
  --fdg: linear-gradient(
      180deg,
      rgba(3, 6, 56, 0.89) 0%,
      rgba(9, 15, 64, 0.89) 36.500000953674316%,
      rgba(1, 14, 107, 0.89) 100%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.66),
      rgba(255, 255, 255, 0.66)
    );
  --gold1: linear-gradient(to left, #c1a875, #c1a875),
    linear-gradient(
      -20.97deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      76.82deg,
      rgba(87, 98, 101, 1) 0%,
      rgba(158, 161, 161, 1) 17.20159500837326%,
      rgba(132, 139, 138, 1) 45.74097692966461%,
      rgba(87, 98, 101, 1) 55.356669425964355%,
      rgba(87, 98, 101, 1) 82.34211206436157%,
      rgba(117, 122, 123, 1) 92.51551032066345%,
      rgba(87, 98, 101, 1) 100%
    );
  --g2: linear-gradient(to left, #c1a875, #c1a875),
    linear-gradient(
      -20.97deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      76.82deg,
      rgba(87, 98, 101, 1) 0%,
      rgba(158, 161, 161, 1) 17.20159500837326%,
      rgba(132, 139, 138, 1) 45.74097692966461%,
      rgba(87, 98, 101, 1) 55.356669425964355%,
      rgba(87, 98, 101, 1) 82.34211206436157%,
      rgba(117, 122, 123, 1) 92.51551032066345%,
      rgba(87, 98, 101, 1) 100%
    );
  --g3: linear-gradient(to left, #c1a875, #c1a875),
    linear-gradient(
      -20.97deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      76.82deg,
      rgba(87, 98, 101, 1) 0%,
      rgba(158, 161, 161, 1) 17.20159500837326%,
      rgba(132, 139, 138, 1) 45.74097692966461%,
      rgba(87, 98, 101, 1) 55.356669425964355%,
      rgba(87, 98, 101, 1) 82.34211206436157%,
      rgba(117, 122, 123, 1) 92.51551032066345%,
      rgba(87, 98, 101, 1) 100%
    );
  --royel-blue: #010d50;
  --header-line: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --header-line-2: linear-gradient(
    107.89deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --1: #dab2a8;
  --bg: #494659;
  --lnr: linear-gradient(
    137.7deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 248, 248, 1) 67.51750707626343%,
    rgba(255, 207, 207, 1) 100%
  );

  /* Fonts */
  /* Effects */
}
